<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Shared</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr>
            <td>Filterhere</td>
            <td>Filterhere</td>
            <td>Filterhere</td>
            <td>Filterhere</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#if entities}}
        {{#each entities}}
        <tr>
            <td><a href="/entities/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-shared">{{shared}}</span></td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/entities/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/entities/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td>No entities</td>
        </tr>
        {{/if}}
    </tbody>
</table>
