<h3>Edit Entity</h3>
<div class="row">
    <form action="/entities/{{entity._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{entity.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="shared" name="shared">
                    {{#select entity.shared}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}} 
                </select>
                <label for="shared">Shared</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select entity.status}}
                    <option value="0. Active">0. Active</option>
                    <option value="1. Respond">1. Respond</option>
                    <option value="2. Waiting" >2. Waiting</option>
                    <option value="3. Hold" >3. Hold</option>
                    <option value="4. Evaluate" >4. Evaluate</option>
                    <option value="5. Cancelled" >5. Cancelled</option>
                    <option value="6. Completed" >6. Completed</option>
                    {{/select}} 
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select multiple id="relationships" name="relationships">
                    {{#select entity.relationships}}
                        {{#each entities}}
                            <option value="{{_id}}">{{_id}} {{title}}</option>
                        {{/each}}
                    {{/select}} 
                </select>
                <label for="relationships">Relationships</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Notes:</h5>
                <textarea id="body" name="body">{{entity.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>