<div class="row">
    <div class="col s12 m8">
        <h3>{{entity.title}}
            <small>{{{editIcon entity.user user entity._id false}}}</small>
        </h3>
        <div class="card entity">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{entity.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{entity.user.displayName}}</span>
                <img src="{{entity.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/entities/user/{{entity.user._id}}">More From {{entity.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>